/* Feuille de styles CSS*/
/* Color */
/* Animation */
/* Loader */
/* Apparition Menu (.cards) */
@-webkit-keyframes menu_anim {
  0% {
    -webkit-transform: translateY(1vh);
            transform: translateY(1vh);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes menu_anim {
  0% {
    -webkit-transform: translateY(1vh);
            transform: translateY(1vh);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

/* Loader (.loader) */
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes spinreverse {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes spinreverse {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes loading {
  from {
    opacity: 1;
    z-index: 2;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes loading {
  from {
    opacity: 1;
    z-index: 2;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #F6F6F6;
  -webkit-animation: loading 3s linear;
          animation: loading 3s linear;
  z-index: -1;
  opacity: 0;
}

.box, .box::before, .box::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.box {
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 25px;
  color: #99E2D0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(#9356DC, #FF79DA);
}

.box h1 {
  font-family: 'Shrikhand', sans-serif;
  margin: 10px 0px;
  font-size: 34px;
}

.box p {
  font-family: 'Shrikhand', sans-serif;
  margin: 0px;
}

.box::before, .box::after {
  content: '';
  margin: -10%;
  -webkit-box-shadow: inset 0 0 0 5px;
          box-shadow: inset 0 0 0 5px;
  -webkit-animation: clipMe 8s linear infinite;
          animation: clipMe 8s linear infinite;
}

.box::before {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
}

@-webkit-keyframes clipMe {
  0%, 100% {
    clip: rect(0px, 240px, 5px, 0px);
  }
  25% {
    clip: rect(0px, 5px, 240px, 0px);
  }
  50% {
    clip: rect(235px, 240px, 240px, 0px);
  }
  75% {
    clip: rect(0px, 240px, 240px, 235px);
  }
}

@keyframes clipMe {
  0%, 100% {
    clip: rect(0px, 240px, 5px, 0px);
  }
  25% {
    clip: rect(0px, 5px, 240px, 0px);
  }
  50% {
    clip: rect(235px, 240px, 240px, 0px);
  }
  75% {
    clip: rect(0px, 240px, 240px, 235px);
  }
}

.circle {
  width: 70px;
  height: 70px;
  position: relative;
}

.circle-quart {
  border-radius: 70px;
  border: 5px solid transparent;
  border-top: 5px solid #0ff8bf;
  border-bottom: 5px solid #0ff8bf;
  -webkit-animation: spin 3s linear infinite;
          animation: spin 3s linear infinite;
}

.circle-quart::after {
  content: "";
  position: absolute;
  top: 5px;
  bottom: 5px;
  right: 5px;
  left: 5px;
  border-radius: 50px;
  border: 4px solid transparent;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  -webkit-animation: spin 1s linear  infinite;
          animation: spin 1s linear  infinite;
  opacity: 0.5;
}

/* Base */
/* Box-sizing */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Link */
a {
  text-decoration: none;
  color: black;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Roboto Bold 800', sans-serif;
  font-size: 20px;
  font-weight: 800;
}

h2 {
  font-family: 'Roboto Bold 800', sans-serif;
  font-size: 20px;
  margin: 0px;
  font-weight: 800;
}

/* Header */
.heading a {
  font-size: 20px;
}

/* Buttons */
.buttons a {
  font-size: 15px;
}

/* Main-page */
.localisation a i {
  font-size: 16px;
}

.localisation__city input {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.menu__restaurant p {
  font-family: 'Shrikhand', sans-serif;
  font-size: 27px;
  margin: 0px;
}

.menu__title {
  font-size: 15px;
  margin: 0px;
}

.heart {
  font-size: 25px;
}

/* Cards */
.cards__new {
  font-size: 13px;
}

.cards__bottom__price {
  font-size: 14px;
}

.card__new {
  font-size: 12px;
}

.card__bottom__title p {
  font-size: 15px;
}

/* Footer */
.foot__title {
  font-size: 20px;
}

.foot__link {
  font-size: 15px;
}

.foot__link i {
  font-size: 15px;
  width: 15px;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.buttons a {
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  border-radius: 25px;
  padding: 16px 25px;
  color: white;
  -webkit-box-shadow: 2px 2px 12px #9999999c;
          box-shadow: 2px 2px 12px #9999999c;
  position: relative;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.buttons a:hover {
  background: linear-gradient(175deg, #ff83dd, #985ede);
  -webkit-box-shadow: 0px 4px 12px #00000084;
          box-shadow: 0px 4px 12px #00000084;
}

.commands {
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 35px;
  padding-bottom: 60px;
}

.commands a {
  padding: 17px 55px;
}

.heart {
  position: relative;
}

.heart span {
  cursor: pointer;
  padding: 0px 10px;
}

.heart-white i {
  font-weight: 100;
  -webkit-transition: color 1s ease-in-out;
  transition: color 1s ease-in-out;
}

.heart-color {
  position: absolute;
  right: 0px;
}

.heart-color .fa-solid {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
}

.heart-shop {
  position: absolute;
  top: 80%;
  right: 5%;
}

.check-heart {
  display: none;
}

.check-heart:hover + .heart-white i, .check-heart:checked + .heart-white i {
  color: transparent;
}

.check-heart:hover ~ .heart-color i {
  -webkit-transform: scale(1);
          transform: scale(1);
  z-index: 1;
}

.check-heart:checked ~ .heart-color i {
  -webkit-transform: scale(1) rotate(1turn);
          transform: scale(1) rotate(1turn);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0px;
  position: relative;
}

.heading img {
  height: 50px;
}

.heading a {
  position: absolute;
  left: 18px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 768px) {
  .heading img {
    height: 30px;
  }
}

/* Shops pics */
#img__palette__du__gout {
  background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}

#img__note__enchantee {
  background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-position-y: 60%;
}

#img__a__la__francaise {
  background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

#img__delice__des__sens {
  background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  overflow: hidden;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 2px 2px 12px #9999999c;
          box-shadow: 2px 2px 12px #9999999c;
  -webkit-animation: menu_anim 1000ms ease-in-out forwards;
          animation: menu_anim 1000ms ease-in-out forwards;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.card--1 {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
  opacity: 0;
}

.card--2 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
  opacity: 0;
}

.card--3 {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
  opacity: 0;
}

.card--4 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
  opacity: 0;
}

.card--5 {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
  opacity: 0;
}

.card--6 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
  opacity: 0;
}

.card--7 {
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
  opacity: 0;
}

.card--8 {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
  opacity: 0;
}

.card--9 {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
  opacity: 0;
}

.card--10 {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
  opacity: 0;
}

.card:hover {
  -webkit-box-shadow: 0px 4px 12px #00000084;
          box-shadow: 0px 4px 12px #00000084;
}

.card__img {
  background-position: bottom;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 170px;
}

.card__new {
  position: absolute;
  background-color: #99E2D0;
  right: 17px;
  top: 12px;
  border-radius: 2px;
  padding: 7px 15px;
  color: #1b6150;
}

.card__bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
}

.card__bottom__title {
  overflow: hidden;
  padding: 10px 0px;
}

.card__bottom__title h3, .card__bottom__title p {
  margin: 0px;
  line-height: 25px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card__bottom__price {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: block;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.card__bottom__price p {
  padding: 10px 0px;
  margin: 0px;
  line-height: 25px;
  font-weight: bold;
}

.card__bottom:hover .card__bottom__title--animation {
  margin-right: 70px;
}

.card__bottom:hover .card__bottom__price {
  -webkit-transform: translateX(-65px);
          transform: translateX(-65px);
}

.card__bottom:hover .card__check {
  -webkit-transform: translate(0px);
          transform: translate(0px);
}

.card__bottom:hover .card__check i {
  display: block;
  -webkit-animation: icon_rotate 400ms 0.1s ease-in-out;
          animation: icon_rotate 400ms 0.1s ease-in-out;
}

.card__check {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 60px;
  height: 100%;
  cursor: pointer;
  -webkit-transform: translatex(70px);
          transform: translatex(70px);
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.card__check i {
  font-size: 22px;
  color: white;
}

/* Animation */
.card__bottom__title--animation {
  -webkit-transition: margin-right 400ms ease-in-out;
  transition: margin-right 400ms ease-in-out;
}

@-webkit-keyframes icon_rotate {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes icon_rotate {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@-webkit-keyframes scalecard {
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes scalecard {
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

/* Footer */
.foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #353535;
  color: white;
  padding: 5px 25px;
  padding-bottom: 25px;
}

.foot__title {
  font-family: 'Shrikhand',sans-serif;
  margin-bottom: 20px;
}

.foot__link {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.foot__link i {
  margin-right: 15px;
}

.foot__link:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

/* Localisation */
.localisation {
  border-top: #D5D5D5 solid 3px;
  background-color: #EAEAEA;
}

.localisation__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  gap: 10px;
  margin-left: 60px;
}

.localisation__input {
  background-color: transparent;
  border: #F6F6F6;
  outline: none;
  border-radius: 15px;
  color: black;
  padding: 7px;
}

.localisation__input:focus {
  background-color: #d0d0d0;
}

.localisation__input::-webkit-input-placeholder {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.localisation__input:-ms-input-placeholder {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.localisation__input::-ms-input-placeholder {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.localisation__input::placeholder {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

/* Explore */
.explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #F6F6F6;
  padding: 30px 30px 70px;
  gap: 15px;
}

.explore__text {
  padding: 0px 20px;
}

/* Working */
.working {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  gap: 20px;
  width: 100%;
}

.workcard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  width: 100%;
  position: relative;
}

.workcard__number {
  font-size: 12px;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  padding: 3px 8px;
  z-index: 1;
}

.workcard__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border: #F6F6F6 solid 10px;
  border-radius: 25px;
  background-color: #F6F6F6;
  padding: 25px;
  margin-left: -35px;
  -webkit-box-shadow: 2px 2px 12px #9999999c;
          box-shadow: 2px 2px 12px #9999999c;
}

.workcard__main__ico {
  position: absolute;
  left: 14%;
  color: gray;
}

.workcard__main__text {
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  left: 25%;
}

.workcard__main--purple {
  background-color: #F5EDFF;
  border: #F5EDFF solid 10px;
}

.workcard__main--purple .workcard__main__ico {
  color: #9356DC;
}

.workcard__main:hover {
  background-color: #F5EDFF;
  border: #F5EDFF solid 10px;
}

.workcard__main:hover .workcard__main__ico {
  color: #9356DC;
}

/* Shop */
.shops {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F6F6F6;
  gap: 25px;
  padding: 60px 20px;
}

.shops h2 {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.shops__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 25px;
  width: 100%;
}

@media (min-width: 768px) and (max-width: 1036px) {
  .heart {
    top: 86%;
  }
}

@media (max-width: 768px) {
  .working {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .shops__grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.heading {
  position: relative;
}

.img_menu {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 280px;
  position: absolute;
}

.menu {
  position: relative;
  margin-top: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #F6F6F6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 10px;
  gap: 35px;
}

.menu__restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 5px 0px 15px;
}

.menu__title {
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  line-height: 25px;
}

.menu__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  width: 100%;
}

.cards__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

@media (max-width: 1090px) {
  .cards__grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */