// Loader //

.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: $main-background;
    animation: loading 3s linear;
    z-index: -1;
    opacity: 0;
}

%full-fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.box {
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @extend %full-fill;
    width: $box-size;
    height: 200px;
    margin: auto;
    border-radius: 25px;
    color: $load-color;
    background-image: linear-gradient($primary, $second);
        & h1 {
            font-family: 'Shrikhand', sans-serif;
            margin: 10px 0px;
            font-size: 34px;
            }
        & p {font-family: 'Shrikhand', sans-serif; margin: 0px;}
        &::before,
        &::after {
            @extend %full-fill;
            content: '';
            margin: -1 * $clip-distance * 100%;
            box-shadow: inset 0 0 0 $path-width; 
            animation: clipMe $anime-time linear infinite;
        }
        &::before {
            animation-delay: $anime-time * -.5;
        }
    // for debug
    //   &:hover {
    //     &::after,
    //     &::before {
    //       background-color: rgba(#f00, .3);
    //     }
    //   }
}

@keyframes clipMe {
  0%, 100% {clip: rect(0px, $clip-size, $path-width, 0px); }
  25% {clip: rect(0px, $path-width, $clip-size, 0px); }
  50% {clip: rect($clip-size - $path-width, $clip-size, $clip-size, 0px); }
  75% {clip: rect(0px, $clip-size, $clip-size, $clip-size - $path-width); }
}

.circle {
    width: 70px;
    height: 70px;
    position: relative;
}
.circle-quart {
    border-radius: 70px;
    border: 5px solid transparent;
    border-top: 5px solid #0ff8bf;
    border-bottom: 5px solid #0ff8bf;
    animation: spin 3s linear infinite;
}
.circle-quart::after {
    content: "";
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 5px;
    left: 5px;
    border-radius: 50px;
    border: 4px solid transparent;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    animation: spin 1s linear  infinite;
    opacity: 0.5;
}

