// Buttons //

.buttons {
    display: flex;
    align-self: center;
    & a{
    background: linear-gradient(175deg, $second, $primary);
    border-radius: 25px;
    padding: 16px 25px;
    color: white;
    @include shadow;
    position: relative;
    transition: 0.2s ease-in-out;
        &:hover {
            background: linear-gradient(175deg, lighten($second, 2%), lighten($primary, 2%));
            @include shadow-btn
        }
    }
}

.commands {
    background-color: $main-background;
    display: flex;
    justify-content: center;
    padding-top: 35px;
    padding-bottom: 60px;
    & a{
    padding: 17px 55px;
    }
}