/* Base */

/* Box-sizing */
* {box-sizing: border-box;}

/* Link */
a {
    text-decoration: none;
    color: black;
    transition: transform 0.2s;
    &:hover {
        transform: scale(1.05);
    }
}