// Cards //

.card {
    @include flexcol;
    width: 100%;
    overflow: hidden;
    background-color: white;
    border-radius: 15px;
    @include shadow;
    animation: menu_anim $anim-dur ease-in-out forwards;
    @for $i from 1 through 10 {
        &--#{$i} {
            animation-delay: $anim-delay * $i;
            opacity: 0;
        }
    }
    &__img {
        background-position: bottom;
        background-size: cover;
        position: relative;
        width: 100%;
        height: 170px;
    }
    &__new {
        position: absolute;
        background-color: $third;
        right: 17px;
        top: 12px;
        border-radius: 2px;
        padding: 7px 15px;
        color: darken($third, 50%);
    }
    &__bottom {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
        &__title {
            overflow: hidden;
            padding: 10px 0px;
                & h3, & p { margin: 0px; 
                            line-height: 25px; 
                            overflow: hidden; 
                            white-space: nowrap;
                            text-overflow: ellipsis;}
        }
        &__price {
            align-self: flex-end;
            display: block;
            transition: all $anim-time ease-in-out;
            & p {
                padding: 10px 0px;
                margin: 0px;
                line-height: 25px;
                font-weight: bold;
            }  
        }
        &:hover {
            .card__bottom__title--animation {margin-right: 70px;}
            .card__bottom__price {
                transform: translateX(-65px);
            }
            .card__check {
                transform: translate(0px);
                & i{
                    display: block;
                animation: icon_rotate $anim-time 0.1s ease-in-out;
                }
            } 
        }
    }
}
.card__check {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $third;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 60px;
    height: 100%;
    cursor: pointer;
    transform: translatex(70px);
    transition: all $anim-time ease-in-out;
    & i {
        font-size: 22px;
        color: white;
    }
}       

/* Animation */

.card__bottom__title--animation {transition: margin-right $anim-time ease-in-out;}

@keyframes icon_rotate {
    to {transform: rotate(1turn)};
} 